/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05 16, 23, 9:49:43 PM
    Author     : Ervhyne
*/

.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .3px .4px ;
}

.main-top-form{
    -fx-background-color: #ddd;
    -fx-border-color: #000;
    -fx-border-width: 0px 0px .4px 0px ;    
}

.nav-form {
    -fx-background-color: #292b2f;
}

.nav-btn {
    -fx-alignment: CENTER_LEFT;
}

.signout-btn {
    -fx-background-color: #40444b;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 15, 0.5, 0.0, 0.0);
}

.light-bg {
    -fx-background-color: #2d2d2d;
    -fx-background-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .4), 4, 0, 0, 0);
}

.card {
    -fx-background-color: #676769;
    -fx-background-radius: 5px;    
}

.dashboard-close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.dashboard-close:hover {
    -fx-background-color: #FF605C;
}

.dashboard-minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.dashboard-minimize:hover {
    -fx-background-color: #e4e3e3;
}

.infoField {
    -fx-text-fill: white;
    -fx-prompt-text-fill: #f49446;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-family: "Tahoma"; 

}

.combo-box {
    -fx-background-color: #404040;
    -fx-background-radius: 5px;
    -fx-border-color: #537e90;
    -fx-border-width: .8px;
    -fx-border-radius: .5px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}

.combo-box .list-cell:hover {
    -fx-background-color: #9a9393;
}

.combo-box .list-cell:focused {
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: #9a9393;
}

    /*-fx-border-color: linear-gradient(to bottom right, #2f3f89, #537e90);*/

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #537e90;
    -fx-padding: 0px;
    -fx-border-radius: 8px;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #2f3f89, #537e90);
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 50px;
}

.table-view .column-header, .label{
    -fx-text-fill: #fff;
    -fx-size: 50px;
}

.search {
    -fx-background-color:transparent;
    -fx-background-radius: 15px;
    -fx-border-color: white;
    -fx-border-radius: 10px 10px 10px 10px;
    -fx-border-width:1px;
    -fx-padding: 0px 0px 0px 30px;
    -fx-font-color:white;
    -fx-text-fill: white;
}

.search-focused {
    -fx-border-width: .8px;
}


