/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 05 16, 23, 9:49:43 PM
    Author     : Ervhyne
*/

.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .3px .4px ;
}

.main-top-form{
    -fx-background-color: #ddd;
    -fx-border-color: #000;
    -fx-border-width: 0px 0px .4px 0px ;    
}

.nav-form {
    -fx-background-color: #292b2f;
}

.nav-btn {
    -fx-alignment: CENTER_LEFT;
}

.signout-btn {
    -fx-background-color: #40444b;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 15, 0.5, 0.0, 0.0);
}

.light-bg {
    -fx-background-color: #2d2d2d;
    -fx-background-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, .4), 4, 0, 0, 0);
}

.card {
    -fx-background-color: #676769;
    -fx-background-radius: 5px;    
}

.dashboard-close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.dashboard-close:hover {
    -fx-background-color: #FF605C;
}

.dashboard-minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}


.dashboard-minimize:hover {
    -fx-background-color: #e4e3e3;
}